@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

table {
  // font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

table td,
table th {
  border: 1px solid $alt;
  padding: 8px;
}

table tr:nth-child(even) {
  background-color: $bg-primary;
}

table tr:hover {
  background-color: $bg-secondary;
}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  color: $text-secondary;
}

table thead {
  background-color: $alt;
}
