@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.leagues {
  &__card {
    @include linear-gradient;
    position: relative;
    padding: 1rem;
    width: 100%;
    border-radius: 1rem;

    @include tablet-and-desktop {
      width: 46%;
      padding: 2rem;
    }

    &:hover {
      box-shadow: 0 0 5px 5px $alt;
    }
  }

  &__header {
    @include flex(row, space-between);
    width: 100%;
  }

  &__name {
    background-color: $bg-transparent;
    box-shadow: 0 0 5px 5px $bg-transparent;
    border-radius: 1rem;
    padding: 0.25rem;
    max-width: 60%;
  }

  &__buttons {
    @include flex(column, space-between);
    height: 3.25rem;
    background-color: $bg-transparent;
    box-shadow: 0 0 5px 5px $bg-transparent;
    border-radius: 1rem;
    padding: 0.25rem;
  }

  &__icon {
    width: 1rem;
  }

  &__img {
    background-image: url(../../assets/images/blood_bowl.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 10rem;
    margin-bottom: 1rem;
  }

  &__container {
    @include flex(row, space-between);
  }
}
