@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.leagues {
  &__card {
    @include linear-gradient;
    position: relative;
    padding: 1rem;
    width: 100%;
    border-radius: 1rem;

    @include tablet-and-desktop {
      width: 46%;
      padding: 2rem;
    }

    &:hover {
      box-shadow: 0 0 5px 5px $alt;
    }
  }

  &__header {
    @include flex(row, space-between);
    width: calc(100% - 2rem);
    position: absolute;

    @include tablet-and-desktop {
      width: calc(100% - 4rem);
    }
  }

  &__name {
    @include backing;
    max-width: 60%;
  }

  &__buttons {
    @include flex(column, space-between);
    @include backing;
    height: 3.25rem;
  }

  &__icon {
    width: 1rem;
  }

  &__img {
    background-image: url(../../assets/images/blood_bowl.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 10rem;
  }

  &__container {
    @include flex(row, space-between);
    width: calc(100% - 2rem);
    position: absolute;
    bottom: 1rem;

    @include tablet-and-desktop {
      width: calc(100% - 4rem);
      bottom: 2rem;
    }
  }

  &__date,
  &__teams {
    @include backing;
  }
}
