@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.myLeagues {
  @include container;
}

.leagues {
  @include flex;
  flex-wrap: wrap;
  gap: 1rem;

  @include tablet-and-desktop {
    gap: 2rem;
  }
}

.loading {
  @include container;

  &__title {
    text-align: center;
  }
}
