@use "./variables" as *;

@mixin tablet-and-desktop {
  @media screen and (min-width: $tablet-breakpoint) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: $desktop-breakpoint) {
    @content;
  }
}

@mixin flex($direction: row, $justify-conent: center, $align-items: center) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify-conent;
  align-items: $align-items;
}

@mixin logo-text {
  background-color: $bg-secondary;
  box-shadow: 0 0 5px 7px $accent-primary, inset 0 0 10px 10px $accent-secondary;
}

@mixin button-primary {
  background-color: $accent-primary;
  color: $text-primary;
  font-weight: 500;
  height: 2.5rem;
  width: 100%;
  border-radius: 2rem;
  border: none;

  @include tablet-and-desktop {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    width: fit-content;
  }

  &:hover {
    opacity: 0.75;
    color: $text-secondary;
  }
}

@mixin button-secondary {
  background-color: $accent-secondary;
  color: $text-primary;
  font-weight: 500;
  height: 2.5rem;
  width: 100%;
  border-radius: 2rem;
  border: 3px solid $accent-primary;

  @include tablet-and-desktop {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    width: fit-content;
  }

  &:hover {
    opacity: 0.75;
    color: $text-secondary;
  }
}

@mixin container {
  padding: 1rem;
  width: 100%;
  max-width: $max-width;
  margin: 0 auto;

  @include tablet-and-desktop {
    padding: 2rem;
  }
}

@mixin form-field {
  padding: 0.5rem auto;
  border-radius: 1rem;
  border: 1px solid $text-placeholder;

  &:active,
  &:focus {
    outline: 1px solid $interactive;
  }

  &::placeholder {
    color: $text-placeholder;
  }
}
