*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  line-height: calc(1em + 0.5rem);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
  font-family: "Gutcruncher", Tahoma, Geneva, Verdana, sans-serif;
  font-style: italic;
}

h2,
h3 {
  font-family: "Gutcruncher", Tahoma, Geneva, Verdana, sans-serif;
}

img,
picture,
video,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}
