@font-face {
  font-family: "Gutcruncher";
  src: url(../assets/fonts/Gutcruncher.otf) format(opentype);
  font-style: normal;
}

@font-face {
  font-family: "Gutcruncher";
  src: url(../assets/fonts/Gutcruncher\ Italic.otf) format(opentype);
  font-style: italic;
}
