@font-face {
  font-family: "Gutcruncher";
  src: url(../../assets/fonts/Gutcruncher-lp6y.ttf) format(truetype);
  font-style: normal;
}

@font-face {
  font-family: "Gutcruncher";
  src: url(../../assets/fonts/Gutcruncher-9vLL.ttf) format(truetype);
  font-style: italic;
}
