@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.divider {
  @include flex;
  gap: 1rem;
  width: 100%;

  @include tablet-and-desktop {
    max-width: 50%;
    gap: 2rem;
  }

  &__line {
    border-top: 3px solid $alt;
    width: 30%;
  }
}
